# Imports

In [1]:
import pandas as pd

# Importing and Analyzing the Dataset

## Importing the Dataset

In [2]:
raw_df = pd.read_csv('../raw_data/data.csv')
raw_df

,address,adm-fees,garage-places,price,rooms,square-foot,neighborhood,city,latitude,longitude
0,"Avenida Raja Gabaglia, 1583",470.0,1,330000.0,1,40,Luxemburgo,Belo Horizonte,-19.936415,-43.953396
1,"Rua Espírito Santo, 1171",NaN,1,480000.0,2,45-65,Centro,Belo Horizonte,-18.864776,-41.121777
2,"Rua dos Expedicionários, 1082",NaN,5,1190000.0,4,411,Santa Amélia,Belo Horizonte,-20.225241,-44.397780
3,"Rua Marechal Hermes, 81",750.0,4,1590000.0,4,158,Gutierrez,Belo Horizonte,-19.937155,-43.958694
4,"Rua Juruna, 110",NaN,6,550000.0,3,278,Pindorama,Belo Horizonte,-19.912982,-44.019944
...,...,...,...,...,...,...,...,...,...,...
5976,Rua Gama Cerqueira,340.0,2,560000.0,3,92,Nova Suíssa,Belo Horizonte,-19.945428,-43.970988
5977,"Rua Arthur Lourenço, 262",200.0,1,440000.0,3,90,Barreiro,Belo Horizonte,-19.979915,-44.026007
5978,Rua General Ephigênio Ruas Santos,10.0,2,500000.0,3,80,Itapoã,Belo Horizonte,-19.840904,-43.956037
5979,Rua General Ephigênio Ruas Santos,10.0,2,740000.0,3,80,Itapoã,Belo Horizonte,-19.840904,-43.956037
5980,Avenida do Contorno,NaN,3,4990000.0,--,428,Savassi,Belo Horizonte,-19.915643,-43.945380

Creating a copy of the main Dataset, so we don't mess the original.

In [3]:
df = raw_df.copy()

Checking the main structure of the data

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5981 entries, 0 to 5980
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   address        5981 non-null   object
 1   adm-fees       3977 non-null   float64
 2   garage-places  5981 non-null   object
 3   price          5951 non-null   float64
 4   rooms          5981 non-null   object
 5   square-foot    5981 non-null   object
 6   neighborhood   5957 non-null   object
 7   city           5981 non-null   object
 8   latitude       5981 non-null   float64
 9   longitude      5981 non-null   float64
dtypes: float64(4), object(6)
memory usage: 467.4+ KB

## Checking for Duplicates

In [5]:
df.duplicated().sum()

0

It doesn't seem to have any duplicated rows here.

## Droping some columns that might cause us trouble

The 'adm-fees' column has a lot of missing value. To be honest, more than 30%. So, as we can't get any insights about how to predict the values for the fees, let's drop this column for our first analysis.

In [6]:
1-(3977/5981)

0.33506102658418324

In [7]:
df.drop(columns='adm-fees', inplace=True)
df

,address,garage-places,price,rooms,square-foot,neighborhood,city,latitude,longitude
0,"Avenida Raja Gabaglia, 1583",1,330000.0,1,40,Luxemburgo,Belo Horizonte,-19.936415,-43.953396
1,"Rua Espírito Santo, 1171",1,480000.0,2,45-65,Centro,Belo Horizonte,-18.864776,-41.121777
2,"Rua dos Expedicionários, 1082",5,1190000.0,4,411,Santa Amélia,Belo Horizonte,-20.225241,-44.397780
3,"Rua Marechal Hermes, 81",4,1590000.0,4,158,Gutierrez,Belo Horizonte,-19.937155,-43.958694
4,"Rua Juruna, 110",6,550000.0,3,278,Pindorama,Belo Horizonte,-19.912982,-44.019944
...,...,...,...,...,...,...,...,...,...
5976,Rua Gama Cerqueira,2,560000.0,3,92,Nova Suíssa,Belo Horizonte,-19.945428,-43.970988
5977,"Rua Arthur Lourenço, 262",1,440000.0,3,90,Barreiro,Belo Horizonte,-19.979915,-44.026007
5978,Rua General Ephigênio Ruas Santos,2,500000.0,3,80,Itapoã,Belo Horizonte,-19.840904,-43.956037
5979,Rua General Ephigênio Ruas Santos,2,740000.0,3,80,Itapoã,Belo Horizonte,-19.840904,-43.956037
5980,Avenida do Contorno,3,4990000.0,--,428,Savassi,Belo Horizonte,-19.915643,-43.945380

In [8]:
df.isnull().sum()

address           0
garage-places     0
price            30
rooms             0
square-foot       0
neighborhood     24
city              0
latitude          0
longitude         0
dtype: int64

We still have some missing values here! Since we are dealing with a small amount of data, let's drop it!

In [9]:
df.dropna(inplace=True)

In [10]:
df.shape

(5927, 9)

## Checking the values of the remaining columns

In [11]:
df.columns

Index(['address', 'garage-places', 'price', 'rooms', 'square-foot',
       'neighborhood', 'city', 'latitude', 'longitude'],
      dtype='object')

### City (From 5927 to 5832)

In [12]:
df['city'].value_counts()

 Belo Horizonte         5899
 Contagem                  5
 Nova Lima                 4
 Sabará                    4
 Ribeirão das Neves        2
 Lagoa Santa               2
 461                       2
 Santa Luzia               1
 Betim                     1
 1122                      1
 1542                      1
 570                       1
 1601                      1
 São Paulo                 1
 22                        1
 31                        1
Name: city, dtype: int64

Since we are dealing with Belo Horizonte, we could consider Contagem, Nova Lima, Sabará, Ribeirão das Neves, Betim, Santa Luzia and Lagoa Santa. However, their values are drastically smaller than Belo Horizonte's. This could result in an unbalanced set. So, as a best practice, let's drop all the rows from cities different than Belo Horizonte.

In [13]:
df['city'].replace(' Belo Horizonte ', 'Belo Horizonte', inplace=True)

In [14]:
df = df[df['city'] == 'Belo Horizonte']

In [15]:
df['city'].value_counts()

Belo Horizonte    5899
Name: city, dtype: int64

Let's check if, after changing the city name, something happened.

In [16]:
df.duplicated().sum()

67

Probably, since we are dealing with houses AND APARTMENTS, there might be records that deals with different apartments in a same building! The number of duplicated files is not high, so we better drop them to avoid future problems.

In [17]:
df = df.drop_duplicates()

In [18]:
df.shape

(5832, 9)

### Neighborhood (From 5832 to 5832)

In [19]:
df['neighborhood'].unique()

array([' Luxemburgo', ' Centro', ' Santa Amélia', ' Gutierrez',
       ' Pindorama', ' Castelo', ' Santo Antônio', ' Sagrada Família',
       ' Sion', ' Lourdes', ' Santa Efigênia', ' Santa Tereza',
       ' Nova Gameleira', ' São João Batista', ' Nova Suíssa',
       ' São Gabriel', ' Ouro Preto', ' Alto Barroca', ' Goiânia',
       ' Maria Helena', ' Belvedere', ' Cidade Nova', ' Vitória',
       ' Savassi', ' João Pinheiro', ' Itapoã', ' São Tomaz',
       ' Boa Vista', ' Prado', ' Santa Branca', ' São Pedro', ' Buritis',
       ' Colégio Batista', ' Serra', ' Santo Agostinho', ' Horto',
       ' Funcionários', ' Califórnia', ' Granja De Freitas', ' Braúnas',
       ' São Lucas', ' Coração Eucarístico', ' Serrano', ' Anchieta',
       ' Cruzeiro', ' Caiçara Adeláide', ' Santa Cruz', ' Vila Paris',
       ' Gameleira', ' São José', ' Mantiqueira', ' Diamante', ' Grajaú',
       ' Santa Lúcia', ' Ipiranga', ' Planalto', ' Barreiro',
       ' São Bento', ' Pampulha', ' Jardim dos Comerciários',
       ' Bandeirantes', ' Candelaria', ' Juliana', ' Bonfim',
       ' Barro Preto', ' Marajó', ' Floresta', ' Penha', ' Santa Mônica',
       ' Venda Nova', ' Nova Granada', ' Cachoeirinha',
       ' Padre Eustáquio', ' Itatiaia', ' São Luíz', ' União',
       ' Santa Inês', ' Floramar', ' Liberdade', ' Jardim Guanabara',
       ' Graça', ' Beija Flor', ' Palmares', ' Concórdia', ' Copacabana',
       ' Santa Maria', ' Madre Gertrudes', ' Carlos Prates',
       ' Providência', ' Dona Clara', ' Estoril', ' Nova Vista',
       ' Jonas Veiga', ' Ouro Minas', ' Cinqüentenário', ' Cidade Jardim',
       ' Havaí', ' Serra Verde', ' Álvaro Camargos', ' Estrela Dalva',
       ' Calafate', ' Barroca', ' Frei Leopoldo', ' Paquetá', ' Canaã',
       ' Paraíso', ' Guarani', ' Alto dos Pinheiros', ' Mangabeiras',
       ' Heliópolis', ' Jaraguá', ' Comiteco', ' Caiçaras',
       ' Etelvina Carneiro', ' Jardim Leblon', ' Alípio de Melo',
       ' Manacás', ' Carmo', ' Estrela do Oriente', ' Saudade',
       ' Renascença', ' Jardim Vitória', ' Aparecida', ' Jardim América',
       ' Xodó Marize', ' Palmeiras', ' Maria Tereza', ' Letícia',
       ' Betânia', ' Rio Branco', ' Fernão Dias', ' Camargos',
       ' Santa Terezinha', ' Silveira', ' Europa', ' Casa Branca',
       ' Parque Leblon', ' Céu Azul', ' Alto dos Caiçaras',
       ' Salgado Filho', ' Pirajá', ' Monsenhor Messias', ' Trevo',
       ' Jardim Atlântico', ' Santa Rosa', ' Garças',
       ' Piratininga Venda Nova', ' Minaslandia P Maio',
       ' Jardim Europa venda Nova', ' Jaqueline', ' São Cristóvão',
       ' São Geraldo', ' São Francisco', ' Bonsucesso', ' Miramar',
       ' Vila Clóris', ' Vera Cruz', ' Sinimbu', ' Tirol',
       ' Engenho Nogueira', ' Glória', ' Jardim Paqueta', ' Minas Brasil',
       ' Bonsucesso Barreiro', ' Parque São José', ' Milionários',
       ' Solar do Barreiro', ' Lagoinha', ' Novo Glória', ' Araguaia',
       ' Dom Bosco', ' Coração de Jesus', ' Primeiro de Maio',
       ' Vista Alegre', ' Santa Helena', ' Nova Floresta', ' Nazaré',
       ' Flávio Marques Lisboa', ' Visconde do Rio Branco', ' Pompéia',
       ' Cenaculo', ' Vila Oeste', ' Olaria', ' Minascaixa', ' Esplanada',
       ' Brasil Industrial', ' Minaslândia', ' Parque Copacabana',
       ' São Salvador', ' Ipê', ' Glalijá', ' Jardim Montanhês',
       ' Jardim dos Pirineus', ' Distrito Industrial Vale do Jatobá',
       ' Conjunto Jardim Filadélfia', ' Santo André', ' Cardoso Barreiro',
       ' Coqueiros', ' Parque Sao Pedro Venda Nova', ' Novo Letícia',
       ' Conjunto Celso Machado', ' Castanheira', ' Itaipu Barreiro',
       ' Santa Sofia', ' Maria Virgínia', ' Teixeira Dias Barreiro',
       ' Horto Florestal', ' Aeroporto', ' Conjunto Califórnia', ' Urca',
       ' Parque Pedro II', ' Petrópolis'], dtype=object)

We can spot some **white spaces** in the names. Let's strip them!

In [20]:
#Stripping
df['neighborhood'] = df['neighborhood'].str.strip()

In [21]:
#Checking the values to see if we spot something weird
sorted(df['neighborhood'].unique())

['Aeroporto',
 'Alto Barroca',
 'Alto dos Caiçaras',
 'Alto dos Pinheiros',
 'Alípio de Melo',
 'Anchieta',
 'Aparecida',
 'Araguaia',
 'Bandeirantes',
 'Barreiro',
 'Barro Preto',
 'Barroca',
 'Beija Flor',
 'Belvedere',
 'Betânia',
 'Boa Vista',
 'Bonfim',
 'Bonsucesso',
 'Bonsucesso Barreiro',
 'Brasil Industrial',
 'Braúnas',
 'Buritis',
 'Cachoeirinha',
 'Caiçara Adeláide',
 'Caiçaras',
 'Calafate',
 'Califórnia',
 'Camargos',
 'Canaã',
 'Candelaria',
 'Cardoso Barreiro',
 'Carlos Prates',
 'Carmo',
 'Casa Branca',
 'Castanheira',
 'Castelo',
 'Cenaculo',
 'Centro',
 'Cidade Jardim',
 'Cidade Nova',
 'Cinqüentenário',
 'Colégio Batista',
 'Comiteco',
 'Concórdia',
 'Conjunto Califórnia',
 'Conjunto Celso Machado',
 'Conjunto Jardim Filadélfia',
 'Copacabana',
 'Coqueiros',
 'Coração Eucarístico',
 'Coração de Jesus',
 'Cruzeiro',
 'Céu Azul',
 'Diamante',
 'Distrito Industrial Vale do Jatobá',
 'Dom Bosco',
 'Dona Clara',
 'Engenho Nogueira',
 'Esplanada',
 'Estoril',
 'Estrela Dalva',
 'Estrela do Oriente',
 'Etelvina Carneiro',
 'Europa',
 'Fernão Dias',
 'Floramar',
 'Floresta',
 'Flávio Marques Lisboa',
 'Frei Leopoldo',
 'Funcionários',
 'Gameleira',
 'Garças',
 'Glalijá',
 'Glória',
 'Goiânia',
 'Grajaú',
 'Granja De Freitas',
 'Graça',
 'Guarani',
 'Gutierrez',
 'Havaí',
 'Heliópolis',
 'Horto',
 'Horto Florestal',
 'Ipiranga',
 'Ipê',
 'Itaipu Barreiro',
 'Itapoã',
 'Itatiaia',
 'Jaqueline',
 'Jaraguá',
 'Jardim América',
 'Jardim Atlântico',
 'Jardim Europa venda Nova',
 'Jardim Guanabara',
 'Jardim Leblon',
 'Jardim Montanhês',
 'Jardim Paqueta',
 'Jardim Vitória',
 'Jardim dos Comerciários',
 'Jardim dos Pirineus',
 'Jonas Veiga',
 'João Pinheiro',
 'Juliana',
 'Lagoinha',
 'Letícia',
 'Liberdade',
 'Lourdes',
 'Luxemburgo',
 'Madre Gertrudes',
 'Manacás',
 'Mangabeiras',
 'Mantiqueira',
 'Marajó',
 'Maria Helena',
 'Maria Tereza',
 'Maria Virgínia',
 'Milionários',
 'Minas Brasil',
 'Minascaixa',
 'Minaslandia P Maio',
 'Minaslândia',
 'Miramar',
 'Monsenhor Messias',
 'Nazaré',
 'Nova Floresta',
 'Nova Gameleira',
 'Nova Granada',
 'Nova Suíssa',
 'Nova Vista',
 'Novo Glória',
 'Novo Letícia',
 'Olaria',
 'Ouro Minas',
 'Ouro Preto',
 'Padre Eustáquio',
 'Palmares',
 'Palmeiras',
 'Pampulha',
 'Paquetá',
 'Paraíso',
 'Parque Copacabana',
 'Parque Leblon',
 'Parque Pedro II',
 'Parque Sao Pedro Venda Nova',
 'Parque São José',
 'Penha',
 'Petrópolis',
 'Pindorama',
 'Pirajá',
 'Piratininga Venda Nova',
 'Planalto',
 'Pompéia',
 'Prado',
 'Primeiro de Maio',
 'Providência',
 'Renascença',
 'Rio Branco',
 'Sagrada Família',
 'Salgado Filho',
 'Santa Amélia',
 'Santa Branca',
 'Santa Cruz',
 'Santa Efigênia',
 'Santa Helena',
 'Santa Inês',
 'Santa Lúcia',
 'Santa Maria',
 'Santa Mônica',
 'Santa Rosa',
 'Santa Sofia',
 'Santa Tereza',
 'Santa Terezinha',
 'Santo Agostinho',
 'Santo André',
 'Santo Antônio',
 'Saudade',
 'Savassi',
 'Serra',
 'Serra Verde',
 'Serrano',
 'Silveira',
 'Sinimbu',
 'Sion',
 'Solar do Barreiro',
 'São Bento',
 'São Cristóvão',
 'São Francisco',
 'São Gabriel',
 'São Geraldo',
 'São José',
 'São João Batista',
 'São Lucas',
 'São Luíz',
 'São Pedro',
 'São Salvador',
 'São Tomaz',
 'Teixeira Dias Barreiro',
 'Tirol',
 'Trevo',
 'União',
 'Urca',
 'Venda Nova',
 'Vera Cruz',
 'Vila Clóris',
 'Vila Oeste',
 'Vila Paris',
 'Visconde do Rio Branco',
 'Vista Alegre',
 'Vitória',
 'Xodó Marize',
 'Álvaro Camargos']

In [22]:
df.shape

(5832, 9)

### Garage Places (From 5832 to 5804)

In [23]:
df['garage-places'].value_counts()

2      2184
1      1429
3       807
4       558
--      545
5       109
6        84
8        30
10       25
7        17
3-4       6
2-3       5
11        5
15        4
13        4
20        3
1-2       3
12        2
9         2
46        2
50        1
18        1
28        1
25        1
40        1
22        1
19        1
17        1
Name: garage-places, dtype: int64

There's a lot of weird numbers here. Let's drop everything above 10 spots and rename the ones we will use and are mislabeled.

In [24]:
#Let's assume '--' is '0'
df['garage-places'].replace('--', 0, inplace=True)

#Since we have more rows with 2 than 1, let's replace '1-2' for '2'
df['garage-places'].replace('1-2', 2, inplace=True)

#Since we have more rows with 2 than 3, let's replace '2-3' for '2'
df['garage-places'].replace('2-3', 2, inplace=True)

#Since we have more rows with 3 than 4, let's replace '3-4' for '3'
df['garage-places'].replace('3-4', 3, inplace=True)

#Let's replace '1-3' by its mean, '2'
df['garage-places'].replace('1-3', 2, inplace=True)

#Let's replace '2-4' by its mean, '3'
df['garage-places'].replace('2-4', 3, inplace=True)

In [25]:
df['garage-places'] = df['garage-places'].astype(int)

In [26]:
df = df[df['garage-places'] < 11]

In [27]:
#Checking the values
sorted(df['garage-places'].unique())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
df.shape

(5804, 9)

### Rooms (From 5804 to 5796)

In [29]:
df['rooms'].value_counts()

3      2121
4      1538
2      1221
--      484
1       203
5       156
6        38
2-3      11
7         8
8         7
9         3
3-4       2
12        2
13        2
1-2       2
18        1
16        1
4-5       1
45        1
10        1
15        1
Name: rooms, dtype: int64

In [30]:
#Let's do it the way we did with the Garage Places
df['rooms'].replace('--', 0, inplace=True)
df['rooms'].replace('1-2', 2, inplace=True)
df['rooms'].replace('2-3', 3, inplace=True)
df['rooms'].replace('3-4', 3, inplace=True)
df['rooms'].replace('4-5', 4, inplace=True)

In [31]:
df['rooms'] = df['rooms'].astype(int)

Like the Garage Places, let's consider only houses with 10 rooms or less.

In [32]:
df = df[df['rooms'] < 11]

In [33]:
#Checking the values
sorted(df['rooms'].unique())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
df.shape

(5796, 9)

### Square-foot / Square-meters (5796 to 5763)

First of all, the values here are in **SQUARE METERS**, not foot. Since we are brazilian and deal with **SQM**, let's just change the name of the column.

In [35]:
df = df.rename(columns={'square-foot': 'square-meters'})
df.tail()

,address,garage-places,price,rooms,square-meters,neighborhood,city,latitude,longitude
5976,Rua Gama Cerqueira,2,560000.0,3,92,Nova Suíssa,Belo Horizonte,-19.945428,-43.970988
5977,"Rua Arthur Lourenço, 262",1,440000.0,3,90,Barreiro,Belo Horizonte,-19.979915,-44.026007
5978,Rua General Ephigênio Ruas Santos,2,500000.0,3,80,Itapoã,Belo Horizonte,-19.840904,-43.956037
5979,Rua General Ephigênio Ruas Santos,2,740000.0,3,80,Itapoã,Belo Horizonte,-19.840904,-43.956037
5980,Avenida do Contorno,3,4990000.0,0,428,Savassi,Belo Horizonte,-19.915643,-43.945380

In [ ]:
df['square-meters'].unique()

We can see that the values are classified as **OBJECTS**, and we do have some weird values again.
And after all the changes so far, our index is kind of messed up.

In [36]:
#Checking the difference between the index value and the Dataset size
df.shape

(5796, 9)

Let's reset the index, so we can use the shape value.

In [37]:
#Dropping the old index, inplacing the change
df.reset_index(drop=True, inplace=True)

In [38]:
indexes = [i for i in range(0, df.shape[0]) if '-' in df.iloc[i]['square-meters']]

In [39]:
df.drop(indexes, inplace=True)

In [40]:
df['square-meters'] = df['square-meters'].astype(int)

In [41]:
df.shape

(5763, 9)

### Price

The price type here is set as **float**. Let's change it to **int** to keep it simple and round.

In [42]:
df['price'] = df['price'].astype(int)
df

,address,garage-places,price,rooms,square-meters,neighborhood,city,latitude,longitude
0,"Avenida Raja Gabaglia, 1583",1,330000,1,40,Luxemburgo,Belo Horizonte,-19.936415,-43.953396
2,"Rua dos Expedicionários, 1082",5,1190000,4,411,Santa Amélia,Belo Horizonte,-20.225241,-44.397780
3,"Rua Marechal Hermes, 81",4,1590000,4,158,Gutierrez,Belo Horizonte,-19.937155,-43.958694
4,"Rua Juruna, 110",6,550000,3,278,Pindorama,Belo Horizonte,-19.912982,-44.019944
5,"Rua Maria Pereira de Araújo, 15",1,450000,3,87,Castelo,Belo Horizonte,-19.886147,-44.004236
...,...,...,...,...,...,...,...,...,...
5791,Rua Gama Cerqueira,2,560000,3,92,Nova Suíssa,Belo Horizonte,-19.945428,-43.970988
5792,"Rua Arthur Lourenço, 262",1,440000,3,90,Barreiro,Belo Horizonte,-19.979915,-44.026007
5793,Rua General Ephigênio Ruas Santos,2,500000,3,80,Itapoã,Belo Horizonte,-19.840904,-43.956037
5794,Rua General Ephigênio Ruas Santos,2,740000,3,80,Itapoã,Belo Horizonte,-19.840904,-43.956037
5795,Avenida do Contorno,3,4990000,0,428,Savassi,Belo Horizonte,-19.915643,-43.945380

# Final Steps and Considerations

In [43]:
#As a final step, let's reset the index one last time to keep the Dataset organized
df.reset_index(drop=True, inplace=True)

In [44]:
df

,address,garage-places,price,rooms,square-meters,neighborhood,city,latitude,longitude
0,"Avenida Raja Gabaglia, 1583",1,330000,1,40,Luxemburgo,Belo Horizonte,-19.936415,-43.953396
1,"Rua dos Expedicionários, 1082",5,1190000,4,411,Santa Amélia,Belo Horizonte,-20.225241,-44.397780
2,"Rua Marechal Hermes, 81",4,1590000,4,158,Gutierrez,Belo Horizonte,-19.937155,-43.958694
3,"Rua Juruna, 110",6,550000,3,278,Pindorama,Belo Horizonte,-19.912982,-44.019944
4,"Rua Maria Pereira de Araújo, 15",1,450000,3,87,Castelo,Belo Horizonte,-19.886147,-44.004236
...,...,...,...,...,...,...,...,...,...
5758,Rua Gama Cerqueira,2,560000,3,92,Nova Suíssa,Belo Horizonte,-19.945428,-43.970988
5759,"Rua Arthur Lourenço, 262",1,440000,3,90,Barreiro,Belo Horizonte,-19.979915,-44.026007
5760,Rua General Ephigênio Ruas Santos,2,500000,3,80,Itapoã,Belo Horizonte,-19.840904,-43.956037
5761,Rua General Ephigênio Ruas Santos,2,740000,3,80,Itapoã,Belo Horizonte,-19.840904,-43.956037
5762,Avenida do Contorno,3,4990000,0,428,Savassi,Belo Horizonte,-19.915643,-43.945380

After all the steps done so far, we can now begin to explore the possible correlation between the **features** and our **target** (the price).

Is this the final version? **Of course NOT!** This is the first attempt of understand the data. We might face some results on the steps to come that will bring us back here to re-evaluate our strategy.